body, div, h1, h2, h3, p, input, a, ul, li, a {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: #F5F5F5;
}

.app-container {
  /* position: relative; */
  width: 400px;
}

.app-body {
  margin-top: 50px;
}